/*Devyn Robinson*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}








:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue:#499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
}


.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }


h1, h2, h3 {
    font-family: 'Molle', cursive;
}

h4, p, q, small, nav, button, form {
    font-family: 'Montserrat', sans-serif;
}

#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

header{
    background-image: linear-gradient(var(--teal),white);
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

header img {
    grid-column-start: 1;
    grid-column-end: 2;
    
}
header nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
    
}

header nav li{
    list-style: none;
    text-align: right;  
    display: flex;
    justify-content: end;
    text-decoration: none;
    background-color: #EAEAEA;
    color: #222222;
    padding-left: 10px;
    padding-right: 10px;
    
}

header nav ul {
    text-decoration: none;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    margin-left: 100px;
    margin-top: 0px;
    margin-right: 8px;
   

}

header nav .active{
    background-color: #F6D64A;
}

header h1{
    font-size: 40px;
    text-align: left;
    margin-right: 100px;
}
header p {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 90%;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 200px;
    margin-bottom: 50px;
}


  
 
  #menu { display: flex; }
  #menu a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  #menu a:hover { background: white; }
  
  
  #menu-toggle label, #toggle { display: none; }








/* Phone */
@media screen and (max-width: 320px){
    /* (A) BREAK INTO VERTICAL MENU */
    #menu a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
      background-color: var(--teal);
      text-transform: uppercase;
      font-weight: bold;
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #menu-toggle label { 
      display: inline-block; 
      color: black;
      background: var(--yellow);
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #menu { display: none; }
    #menu-toggle input:checked ~ #menu { display: block; }
   

  }
  /* End Phone */

  /* tablet */
  @media screen and (max-width: 600px){
    header {
        grid-template-columns: 1fr 3fr;
    }
    header img {
        transform: scale(.8);
    }
    header nav {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    header h1{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    header p {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    div #img-grid {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    #img-grid picture {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #plan div, #testimonials div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #about div{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  /* End Tablet */
  @media screen and (min-width: 601px){ 
    header {
        grid-template-columns: 1fr 1fr 2fr 1fr;
    }
    header h1 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    header nav {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #intro {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    #intro p {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #intro #img-grid {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-template-columns: 1fr 1fr;
    }
    #img-grid picture {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #plan div, #testimonials div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #about div{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
